apiVersion: apps/v1
kind: Deployment
metadata:
  name: sami-pg-deployment
  labels:
    app: pg-test-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pg-test-app
  template:
    metadata:
      labels:
        app: pg-test-app
    spec:
      serviceAccountName: super-admin
      containers:
        - name: sami-pg-container
          image: sami7786/kubedbclientopstest:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080 # Change this based on your app's port
---
apiVersion: v1
kind: Service
metadata:
  name: pg-test-app-service
spec:
  selector:
    app: pg-test-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080 # Change this based on your app's port
  type: ClusterIP
